{{- include "ffc-helm-library.container-config-map" (list . "ffc-ahwr-backoffice.config-map") -}}
{{- define "ffc-ahwr-backoffice.config-map" -}}
data:
  AADAR_ENABLED: {{ quote .Values.azureAppRegistration.enabled }}
  AADAR_REDIRECT_URL: {{ quote .Values.azureAppRegistration.redirectUrl }}
  APPINSIGHTS_CLOUDROLE: {{ quote .Values.name }}
  NODE_ENV: {{ quote .Values.environment }}
  PORT: {{ quote .Values.container.port }}
  {{- if .Values.container.redisHostname }}
  REDIS_HOSTNAME: {{ quote .Values.container.redisHostname }}
  {{- end }}
  {{- if .Values.pr }}
  REDIS_PARTITION: {{ .Values.container.redisPartition }}-{{ .Values.pr }}
  {{ else }}
  REDIS_PARTITION: {{ quote .Values.container.redisPartition }}
  {{- end }}
  REDIS_PORT: {{ quote .Values.container.redisPort }}
  SERVICE_URI: {{ quote .Values.container.serviceUri }}
  APPLICATION_API_URI: {{ quote .Values.container.applicationApiUri }}
  DISPLAY_PAGE_SIZE: {{ quote .Values.container.displayPageSize }}
  ON_HOLD_APP_PROCESS_ENABLED: {{ quote .Values.container.onHoldAppProcessEnabled }}
  ON_HOLD_APP_PROCESS_SCHEDULE: {{ quote .Values.container.onHoldAppProcessSchedule }}
  DATA_REDACTION_PROCESS_ENABLED: {{ quote .Values.container.dataRedactionProcessEnabled }}
  DATA_REDACTION_PROCESS_SCHEDULE: {{ quote .Values.container.dataRedactionProcessSchedule }}
  SUPER_ADMINS: {{ quote .Values.container.superAdmins }}
  REMINDER_EMAIL_ENABLED: {{ quote .Values.container.reminderEmailEnabled }}
  REMINDER_EMAIL_SCHEDULE: {{ quote .Values.container.reminderEmailSchedule }}
  PIGS_AND_PAYMENTS_RELEASE_DATE: {{ quote .Values.container.pigsAndPaymentsReleaseDate }}
{{- end -}}
