<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-cookie-banner__heading govuk-heading-m">Authoriser action required</h2>
    <p class="govuk-body">This customer has been recommended for payment.</p>
    <p class="govuk-body">If you do not agree with this action, contact {{ contactPerson }} who recommended it and discuss it with them.</p>
    <p>
      {% if claimOrAgreement == 'agreement' %}
        <a class="govuk-button" href="/view-agreement/{{ reference }}?page={{ page }}&approve=true#authorise">Pay</a>
      {% elif claimOrAgreement == 'claim' %}
        <a class="govuk-button" href="/view-claim/{{ reference }}?page={{ page }}&returnPage={{ returnPage }}&approve=true#authorise">Pay</a>
      {% endif %}
    </p>
  </div>
</div>
