{% set dayClasses = "govuk-input--width-2" %}
{% set monthClasses = "govuk-input--width-2" %}
{% set yearClasses = "govuk-input--width-3" %}
{% if errorMessages.all or errorMessages.day %}{% set dayClasses = dayClasses + " govuk-input--error" %}{% endif %}
{% if errorMessages.all or errorMessages.month %}{% set monthClasses = monthClasses + " govuk-input--error" %}{% endif %}
{% if errorMessages.all or errorMessages.year %}{% set yearClasses = yearClasses + " govuk-input--error" %}{% endif %}

<div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" id="update-date-of-visit">
  <form method="post" action="/claims/data" class="ahwr-update-form">
    {% if claimOrAgreement == 'agreement' %}
      <a href="/view-agreement/{{ reference }}?page={{ page }}" class="govuk-link govuk-body">Back</a>
    {% elif claimOrAgreement == 'claim' %}
      <a href="/view-claim/{{ reference }}?page={{ page }}&returnPage={{ returnPage }}" class="govuk-link govuk-body">Back</a>
    {% endif %}
    <h2 class="govuk-heading-l">Update date of visit</h2>
    {{
      govukDateInput({
        id: "visitDate",
        name: "visitDate",
        hint: {
          html: "For example, 28 3 2025",
          id: "date-of-visit-hint"
        },
        items: [
          {
            classes: dayClasses,
            name: "day"
          },
          {
            classes: monthClasses,
            name: "month"
          },
          {
            classes: yearClasses,
            name: "year"
          }
        ],
        errorMessage: errorMessages.visitDate
      })
    }}
    {{
      govukInput({
        id: "note",
        name: "note",
        label: {
          text: "Note"
        },
        errorMessage: errorMessages.note
      })
    }}
    {{
      govukButton({
        text: "Confirm and continue"
      })
    }}
    <input type="hidden" name="claimOrAgreement" value="{{ claimOrAgreement }}" />
    <input type="hidden" name="reference" value="{{ reference }}" />
    <input type="hidden" name="dateOfVisit" value="{{ dateOfVisit }}" />
    <input type="hidden" name="form" value="updateDateOfVisit" />
    <input type="hidden" name="page" value="{{ page }}" />
    <input type="hidden" name="returnPage" value="{{ returnPage }}" />
    <input type="hidden" name="crumb" value="{{ crumb }}" />
  </form>
</div>
