<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Further action</h2>
    <p class="govuk-body">This customer has successfully submitted an application but, if they ask, they can withdraw from an agreement.</p>
    <a class="govuk-button" href="/view-agreement/{{ reference }}?page={{ page }}&withdraw=true#withdraw">Withdraw</a>
  </div>
</div>
