{% macro viewAuthoriserConfirmationToPayForm(applicationId, page, crumb) %}
  <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left">
    <a class="govuk-link govuk-body" href="/view-application/{{ applicationId }}?page={{page}}">Back</a>
    <h1 class="govuk-panel__title-s govuk-!-font-size-36 govuk-!-margin-top-1">Authorise payment</h1>
    <form method="POST" autocomplete="off" novalidate="novalidate" action="/authorise-to-pay" id="authorisePaymentForm">
      <button class="govuk-button govuk-button govuk-!-margin-bottom-3">Confirm and continue</button>
      <input type="hidden" name="reference" value="{{ applicationId }}" />
      <input type="hidden" name="page" value="{{ page }}" />
      <input type="hidden" name="crumb" value="{{crumb}}"/>
    </form>
  </div>
{% endmacro %}