{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro filter(availableStatus, selectedStatus) %}
    <!-- Filters -->
    <div class="govuk-grid-column-one-quarter govuk-!-margin-top-5">
        <div class="govuk-filter govuk-!-padding-3" style="background-color:#eeeeee;">
            <div class="govuk-filter__content">
                {% if selectedStatus | length %}
                    <div class="govuk-filter__selected govuk-!-margin-bottom-5">
                        <div class="govuk-filter__selected-heading">
                            <div class="govuk-filter__heading-title">
                                <h2 class="govuk-heading-s">Filters</h2>
                            </div>
                            <h3 class="govuk-body">Selected</h3>
                            <div class="govuk-filter__heading-action">
                                {% for status in selectedStatus %}
                                    <span class="govuk-tag {{status.styleClass}}" style="color:#104189;">
                                        {{status.status}}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="govuk-filter__options">
                    <div class="govuk-form-group govuk-!-margin-bottom-0">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend">Status</legend>
                            {% if availableStatus %}
                                <div class="govuk-!-width-full govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    {% for status in availableStatus %}
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="status" {{'checked' if status.selected }} name="status" type="checkbox" value="{{status.status}}">
                                            <label class="govuk-label govuk-checkboxes__label" for="status">{{status.status}} ({{status.total}})</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="govuk-grid-row govuk-!-width-full">
                                    {{ govukButton({
                                    text: "Apply filters"
                                }) }}
                                </div>
                            {% endif %}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}