{% macro pager(page, totalPages, count, total, url) %}
        <nav role="navigation" aria-label="Pagination">
        <div class="pagination__summary">
            Showing {{ (page-1)*10+1 }} &ndash; {{ (page-1)*10+count }} of {{ total }} items
        </div>

        <ul class="pagination">
            <li class="pagination__item">              
                {% if page == 1 %}
                <span class="pagination__link disabled" aria-label="Previous page">
                    <span aria-hidden="true" role="presentation">&laquo;</span> Previous
                </span>
                {% else %}
                <a class="pagination__link" href="{{ url }}?page=1" aria-label="Previous page">
                    <span aria-hidden="true" role="presentation">&laquo;</span> Previous
                </a>
                {% endif %}
            </li>
        {% if page < totalPages %}
          
            <li class="pagination__item">
                <span class="pagination__link current" aria-label="Page 1">1</span>
            </li>
            {% endif %}
{% if page+1 < totalPages %}
            <li class="pagination__item">
                <a class="pagination__link" href="{{ url }}?page={{ page + 1 }}" aria-label="Page {{ page + 1 }}">2</a>
            </li>

            {% endif %}
{% if page+2 < totalPages %}
            <li class="pagination__item">
                <a class="pagination__link" href="{{ url }}?page={{ page + 2 }}" aria-label="Page {{ page + 3 }}">3</a>
            </li>

        {% endif %}
            

            <li class="pagination__item">
              {%if totalPages > page %}
                <a class="pagination__link" href="{{ url }}?page={{ totalPages }}" aria-label="Next page">
                    Next <span aria-hidden="true" role="presentation">&raquo;</span>
                </a>
                {%else%}                
                <span class="pagination__link disabled" aria-label="Next page">
                    Next <span aria-hidden="true" role="presentation">&raquo;</span>
                </span>
                {%endif%}
            </li>
        </ul>
    </nav>
{% endmacro %}
