{% macro viewRecommendConfirmationForm(applicationId, page, crumb, recommend) %}
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" id="pnl-recommend-confirmation">
    <p class="govuk-body govuk-!-text-align-right"><a href="/view-application/{{ applicationId }}?page={{page}}" role="button" draggable="false" class="govuk-link">Back</a></p>
    <form method="POST" autocomplete="off" novalidate="novalidate" action="{{ recommend.formAction }}" id="recommendConfirmationForm">
      {{ govukCheckboxes({
        name: "confirm",
        fieldset: {
          legend: {
            text: recommend.header,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: recommend.checkBoxes,
        errorMessage: recommend.errorMessage
      }) }}
      <button class="govuk-button govuk-button govuk-!-margin-bottom-3" data-prevent-double-click="true">Confirm and continue</button>
      <input type="hidden" name="reference" value="{{ applicationId }}" />
      <input type="hidden" name="page" value="{{ page }}" />
      <input type="hidden" name="crumb" value="{{crumb}}"/>
    </form>
  </div>
{% endmacro %}
