{% macro viewRecommendToRejectConfirmationForm(applicationId, page, crumb) %}
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left">
    <p class="govuk-body govuk-!-text-align-right"><a href="/view-application/{{ applicationId }}?page={{page}}" role="button" draggable="false" class="govuk-link">Back</a></p>
    <form method="POST" autocomplete="off" novalidate="novalidate" action="/recommend-to-reject" id="recommendToRejectForm">
      {{ govukCheckboxes({
        name: "confirm",
        fieldset: {
          legend: {
            text: "Recommend to reject",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "checkedAgainstChecklist",
            text: "I have checked the claim against the verification checklist and it has not passed. I recommend the claim is rejected."
          },
          {
            value: "sentChecklist",
            text: "I have sent the verification checklist to the authoriser explaining why it's failed."
          }
        ]
      }) }}
      <button class="govuk-button govuk-button govuk-!-margin-bottom-3">Confirm and continue</button>
      <input type="hidden" name="reference" value="{{ applicationId }}" />
      <input type="hidden" name="page" value="{{ page }}" />
      <input type="hidden" name="crumb" value="{{crumb}}"/>
    </form>
  </div>
{% endmacro %}
