{% macro viewRecommendForm(applicationId, page, crumb) %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-panel govuk-panel--confirmation govuk-panel--align-horizontal govuk-!-text-align-center">
        <div class="govuk-panel__body">
          <div class="govuk-grid-row">
            <a class="govuk-button" href="/view-application/{{ applicationId }}?page={{page}}&recommendToPay=true" role="button" id="btn-recommend-to-pay">Recommend to pay</a>
          </div>
          <div class="govuk-grid-row">
            <a class="govuk-button" role="button" href="" id="btn-recommend-to-reject">Recommend to reject</a>
          </div>
        </div>
        <input type="hidden" name="reference" value="{{ applicationId }}"/>
        <input type="hidden" name="page" value="{{ page }}"/>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
      </div>
    </div>
  </div>
{% endmacro %}