{% macro viewRejectClaimOnHoldForm(applicationId, page, crumb) %}
  <div class="govuk-grid-row">
    <div class="govuk-panel govuk-panel--confirmation govuk-panel--align-horizontal govuk-!-text-align-left">
      {# What class should this div be? #}
      <div class="govuk-panel__body">
        <p class="govuk-body govuk-!-text-align-left">If you recommend this claim for a full verification check, move it to ‘in check’.</p>
        <a class="govuk-button" role="button" href="/view-application/{{ applicationId }}?page={{ page }}&moveToInCheck=true" draggable="false" data-module="govuk-button">
          Move claim to 'in check'</a>
        <p class="govuk-body govuk-!-text-align-left">If no further checks are required, you do not need to do anything. The claim will automatically move to ‘ready to pay’.</p>
      </div>
    </div>
    {# <input type="hidden" name="reference" value="{{ applicationId }}"/>
    <input type="hidden" name="page" value="{{ page }}"/>
    <input type="hidden" name="crumb" value="{{crumb}}"/> #}
  </div>
{% endmacro %}
