{% macro viewRejectClaimConfirmationForm(claimOrApplication, reference, page, crumb) %}
  <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left">
    <h1 class="govuk-panel__title-s govuk-!-font-size-36 govuk-!-margin-top-1">Are you sure you want to reject this claim?</h1>
    <form method="POST" autocomplete="off" novalidate="novalidate" action="/reject-application-claim" id="rejectClaimForm">
      <button class="govuk-button govuk-button govuk-!-margin-bottom-3" name="rejectClaim" value="yes">Yes</button>
      <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-3" name="rejectClaim" value="no">No</button>
      {{ govukWarningText({
        text: "Tell your line manager to move this claim to the rejection process.",
        iconFallbackText: "Warning"
      }) }}
      <input type="hidden" name="claimOrApplication" value="{{ claimOrApplication }}" />
      <input type="hidden" name="reference" value="{{ reference }}" />
      <input type="hidden" name="page" value="{{ page }}" />
      <input type="hidden" name="crumb" value="{{crumb}}"/>
    </form>
  </div>
{% endmacro %}
