{% macro viewRejectClaimConfirmationForm(applicationId, page, crumb) %}
  <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left">
    <h1 class="govuk-panel__title-s govuk-!-font-size-36 govuk-!-margin-top-1">Are you sure you want to reject this claim?</h1>
    <form method="POST" autocomplete="off" novalidate="novalidate" action="/reject-application-claim">
      <button class="govuk-button govuk-button govuk-!-margin-bottom-3" name="rejectClaim" value="yes">Yes</button>
      <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-3" name="rejectClaim" value="no">No</button>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Tell your line manager to move this claim to the rejection process.
        </strong>
        </div>
      <input type="hidden" name="reference" value="{{ applicationId }}" />
      <input type="hidden" name="page" value="{{ page }}" />
      <input type="hidden" name="crumb" value="{{crumb}}"/>
    </form>
  </div>
{% endmacro %}
