{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% macro viewApplicationTabs(model, vetVisit, claimed, payment, subStatus, displayMoveToInCheckFromHold, applicationId, page) %}
  {% set applicationHtml %}
  <h2 class="govuk-heading-l">{{ subStatus }}</h2>
  {{ govukTable(model.applicationData) }}
  {% endset -%}

  {% set claimHtml %}
  <h2 class="govuk-heading-l">{{ subStatus }}</h2>
  {{ govukTable(model.claimData) }}
  {% if displayMoveToInCheckFromHold %}
    <div class="govuk-body govuk-!-text-align-left" id="move-to-in-check">
      <p class="govuk-body">If you recommend this claim for a full verification check, move it to ‘in check’.</p>
      <a class="govuk-button govuk-!-margin-bottom-4" role="button" href="/view-agreement/{{ applicationId }}?page={{ page }}&moveToInCheck=true" draggable="false" data-module="govuk-button">
        Move claim to 'in check'</a>
      <p class="govuk-body">If no further checks are required, you do not need to do anything. The claim will automatically move to ‘ready to pay’.</p>
    </div>
  {% endif %}
  {% endset -%}

  {% set historyHtml %}
  <h2 class="govuk-heading-l">History</h2>
  {{ govukTable({
    head: model.historyData.header,
    rows: model.historyData.rows
  }) }}
  {% endset -%}

  {{ govukTabs({
    items: [
      {
        label: "Agreement",
        id: "application",
        panel: {
          html: applicationHtml
        }
      },
      {
        label: "Claim",
        id: "claim",
        panel: {
          html: claimHtml
        }
      },
      {
        label: "History",
        id: "history",
        panel: {
          html: historyHtml
        }
      }
    ]
  }) }}
{% endmacro %}