{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro viewAuthoriseOrRejectForm(applicationId, page, crumb, displayAuthorisePaymentButton) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div id="authorise-or-reject-form-panel" class="govuk-panel govuk-panel--confirmation govuk-panel--align-horizontal govuk-!-text-align-center">
        <div class="govuk-panel__body">
          {% if displayAuthorisePaymentButton %}
            <div class="govuk-grid-row">
              {{
                govukButton({
                  text: "Authorise payment",
                  attributes: {
                    id: "authorise-payment-button"
                  },
                  href: "/view-application/" + applicationId + "?page=" + page + "&approve=true",
                  preventDoubleClick: true
                })
              }}
            </div>
          {% else %}
            <div class="govuk-grid-row">
              {{
                govukButton({
                  text: "Reject claim",
                  attributes: {
                    id: "reject-claim-button"
                  },
                  href: "/view-application/" + applicationId + "?page=" + page + "&reject=true",
                  preventDoubleClick: true
                })
              }}
            </div>
          {% endif %}
          <p class="govuk-body">If you do not agree with this action, contact the person who recommended it and discuss it with them.</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
