{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% macro viewWithdrawConfirmationForm(reference, page, crumb, errorMessage) %}
  <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" id="pnl-withdraw-confirmation">
    <form method="POST" autocomplete="off" novalidate="novalidate" action="/withdraw-application" id="withdrawForm">
      <p class="govuk-body govuk-!-text-align-right"><a href="/view-application/{{ reference }}?page={{page}}" role="button" draggable="false" class="govuk-link">Back</a></p>    
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" name="reference" value="{{ reference }}" />
      {{ govukCheckboxes({
        name: "confirm",
        fieldset: {
          legend: {
            text: "Withdraw agreement",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-3"
          }
        },
        hint: {
          html: "&nbsp;"
        },
        items: [
          {
            value: 'receivedCopyOfCustomersRequest',
            text: 'I confirm I have received a written copy of the customer’s request to withdraw this agreement.'
          },
          {
            value: 'SentCopyOfRequest',
            text: 'I have sent a copy of this request to my team leader.'
          },
          {
            value: 'attachedCopyOfCustomersRecord',
            text: 'I have attached a copy to the customer’s record in the Customer Relationship Management system.'
          }
        ],
        errorMessage: errorMessage
      }) }}
      <button class="govuk-button govuk-button govuk-!-margin-bottom-3 govuk-!-margin-top-3" name="withdrawConfirmation" value="yes">Confirm and continue</button>
    </form>
  </div>
{% endmacro %}