{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% macro viewWithdrawConfirmationForm(endemics, reference, page, crumb, errorMessage) %}
  <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" id="pnl-withdraw-confirmation">
    <form method="POST" autocomplete="off" novalidate="novalidate" action="/withdraw-application" id="withdrawForm">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" name="page" value="{{ page }}" />
      <input type="hidden" name="reference" value="{{ reference }}" />
      {% if endemics %}
        <p class="govuk-body govuk-!-text-align-right"><a href="/view-agreement/{{ reference }}?page={{page}}" role="button" draggable="false" class="govuk-link">Back</a></p>    
        {{ govukCheckboxes({
          name: "confirm",
          fieldset: {
            legend: {
              text: "Withdraw agreement",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-3"
            }
          },
          hint: {
            html: "&nbsp;"
          },
          items: [
            {
              value: 'receivedCopyOfCustomersRequest',
              text: 'I confirm I have received a written copy of the customer’s request to withdraw this agreement.'
            },
            {
              value: 'SentCopyOfRequest',
              text: 'I have sent a copy of this request to my team leader.'
            },
            {
              value: 'attachedCopyOfCustomersRecord',
              text: 'I have attached a copy to the customer’s record in the Customer Relationship Management system.'
            }
          ],
          errorMessage: errorMessage
        }) }}
        <button class="govuk-button govuk-button govuk-!-margin-bottom-3 govuk-!-margin-top-3" name="withdrawConfirmation" value="yes">Confirm and continue</button>
      {% else %}
        <h1 class="govuk-panel__title-s govuk-!-font-size-36 govuk-!-margin-top-1">Are you sure you want to withdraw?</h1>
        <button class="govuk-button govuk-button govuk-!-margin-bottom-3" name="withdrawConfirmation" value="yes">Yes</button>
        <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-3" name="withdrawConfirmation" value="no">No</button>
      {% endif %}
    </form>
  </div>
{% endmacro %}