# This override file should be used when running automated tests so
# that test output is saved to the host

services:
  ffc-ahwr-backoffice:
    build:
      target: development
    environment:
      NODE_ENV: test
      AADAR_ENABLED: "true"
      AADAR_CLIENT_SECRET: itsasecretshhhhhhhh
      AADAR_CLIENT_ID: NCC-1701-D
      AADAR_REDIRECT_URL: http://thesearenotthedroidsyouarelookingfor
      AADAR_TENANT_ID: C3PO-R2D2
    image: ffc-ahwr-backoffice-development
    container_name: ffc-ahwr-backoffice-test
    command: npm run test
    volumes:
      - ./test-output:/home/node/test-output
