{% extends './layouts/layout.njk' %}

{% block pageTitle %}
  Administration: AHWR Agreements
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-m">Role based access</h1>
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: rows
      }) }}
    </div>
  </div>
{% endblock %}
