{% extends './layouts/layout.njk'%}

{%block pageTitle %}{{ siteTitle }} - {{ businessName }}{%endblock%}

    {% block beforeContent %}
        {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    {% endblock %}

    {% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
                Agreement details and claims
            </h1>
                <h2 class="govuk-heading-l">{{ businessName }}</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    {% for item in applicationSummaryDetails %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{{item.field}}</dt>
                            <dd class="govuk-summary-list__value">
                                <p>{{item.newValue}}</p>
                                {% if (item.oldValue) and (item.oldValue != "NA") %}
                                    <details class="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">View change</span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            {{ item.oldValue }}
                                        </div>
                                    </details>
                                {% endif %}
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m">
  Claims by this business
</h3>
            </div>
            <div class="govuk-grid-column-full">
                <div class="moj-scrollable-pane__wrapper">
                    {{ govukTable({
                    attributes: {
                        'data-module': 'moj-sortable-table'
                    },
                    firstCellIsHeader: false,
                    head: claimTable.header,
                    rows: claimTable.claims
                }) }}
                </div>
                {{ govukPagination({
                    previous: model.previous,
                    next: model.next,
                    items: model.pages
                  }) 
                }}
            </div>
        </div>
    </div>
</div>
{%endblock%}