{% extends './layouts/layout.njk'%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Administration - {{ businessName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}
      <h1 class="govuk-caption-l govuk-!-margin-bottom-3">Agreement details and claims</h1>
      <h2 class="govuk-heading-l">{{ businessName }}</h2>
      {% if updateEligiblePiiRedactionForm %}
        {% include "./includes/eligible-pii-redaction-form.njk" %}
      {% endif %}
      <dl class="govuk-summary-list">
        {% for item in applicationSummaryDetails %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key {% if item.flagged %} flagged-item{% endif %}">{{ item.field }}</dt>
            <dd class="govuk-summary-list__value{% if item.flagged %} flagged-item{% endif %}">              
              <p>{{ item.newValue }}</p>
              {% if (item.oldValue) and (item.oldValue != "NA") %}
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">View change</span>
                  </summary>
                  <div class="govuk-details__text">
                    {{ item.oldValue }}
                  </div>
                </details>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
              {% if item.change %}
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="{{ updateEligiblePiiRedactionUrl }}">Change</a>
                </li>
              {% endif %}
              </ul>
            </dd>
          </div>
        {% endfor %}
        {% if herdBreakdown %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of herds and flocks
            </dt>
            <dl class="govuk-summary-list govuk-!-margin-bottom-0">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Beef cattle
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ herdBreakdown.beef }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Dairy cattle
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ herdBreakdown.dairy }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Sheep
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ herdBreakdown.sheep }}
                </dd>
              </div>
              <div class="govuk-summary-list__row no-line-break">
                <dt class="govuk-summary-list__key">
                  Pigs
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ herdBreakdown.pigs }}
                </dd>
              </div>
            </dl>
          </div>
        {% endif %}
      </dl>
    </div>
  </div>
  {% if claimsTotal %}
    <div class="govuk-grid-row govuk-!-margin-top-3">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Claims by this business</h3>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="moj-scrollable-pane__wrapper">
          {{ govukTable({
            attributes: {
                'data-module': 'moj-sortable-table'
            },
            head: header,
            rows: rows
          }) }}
        </div>
      </div>
  {% endif %}

  </div>
{%endblock%}
