{% extends './layouts/layout.njk' %}

{% block pageTitle %}
  {{ siteTitle }} - Applications
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">  
      <h1 class="govuk-heading-l">Applications</h1>

  </div>
  <div class="govuk-grid-row">
{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Ref",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Business",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "SBI",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Apply date",
      attributes: {
        "aria-sort": "none"
      },
      format: "date"
    },
    {
      text: "Claim date",
      attributes: {
        "aria-sort": "none"
      },
      format: "date"
    },
    {
      text: "Status",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: applications
}) }}
    </div>

  </div>
</div>
  </div>
  
{% endblock %}