{% extends './layouts/layout.njk' %}
{% block pageTitle %}
  {{ siteTitle }}: AHWR Applications
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/"
      }) }}
{% endblock %}

{% block content %}

  <form method="POST" action="/applications">
    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <h1 class="govuk-heading-l">AHWR Applications</h1>
      <div class="user-search-box govuk-!-width-two-thirds">
        <label class="govuk-label govuk-label--s" for="user-search">
          Search for an application by SBI number or reference or status
        </label>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <input class="govuk-input" id="searchText" name="searchText" type="text" value="{{searchText}}" aria-describedby="user-search-hint" spellcheck="false">
        <button class="search-button" data-module="govuk-button" name="submit" value="search">
                Search
        </button>
      </div>
    </div>

    {% if error %}
      <div class="govuk-grid-row">
        <p class="govuk-error-message">{{error}}</p>
      </div>
    {% else %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-top-5">
          {%- set filterOptionsHtml %}
          {{ govukCheckboxes({
              idPrefix: 'status',
              name: 'status',
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: 'Status',
                  classes: 'govuk-fieldset__legend--m'
                }
              },
              items: filterStatus
              }) }}

          {% endset -%}

          {{ mojFilter({
            heading: {
              text: 'Filter'
            },
            selectedFilters: {
              heading: {
                text: 'Selected filters'
              },
              clearLink: {
                text: 'Clear filters',
                href: '/applications/clear'
              },
              categories: [
                {
                  heading: {
                    text: 'Status'
                  },
                  items: selectedStatus
                }
              ]
            },
            optionsHtml: filterOptionsHtml
          }) }}
        </div>
        <div class="govuk-grid-column-three-quarters">
          {{ govukTable({
            attributes: {
              'data-module': 'moj-sortable-table'
            },
            firstCellIsHeader: false,
            head: [
              {
                text: "Ref"
              },
              {
                text: "Business"
              },
              {
                text: "SBI",
                attributes: {
                  "aria-sort": "ascending"
                },
                format: "numeric"
              },
              {
                text: "Apply date",
                attributes: {
                  "aria-sort": "none"
                },
                format: "date"
              },
              {
                text: "Status",
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Details"
              }
            ],
            rows: applications
          }) }}
          {{ govukPagination({
            previous: previous,
            next: next,
            items: pages
          }) 
          }}
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}