{% extends './layouts/layout.njk' %}
{% block pageTitle %}
  Administration: AHWR Claims
{% endblock %}
{% block content %}
  <form method="POST" action="/claims">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Claims, Agreements and Flags</h1>
        <div class="govuk-grid-column-full">
          <div class="moj-scrollable-pane">
            <div class="moj-scrollable-pane__wrapper">
              <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <span class="govuk-tabs__tab">
                      Claims
                    </span>
                  </li>
                  <a class="govuk-tabs__list-item govuk-body" href="/agreements">
                    <span class="govuk-tabs__tab">
                      Agreements
                    </span>
                  </a>
                  <a class="govuk-tabs__list-item govuk-body" href="/flags">
                    <span class="govuk-tabs__tab">
                      Flags
                    </span>
                  </a>
                </ul>
                <div class="govuk-tabs__panel govuk-!-margin-bottom-6" id="claims">
                  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
                    <h1 class="govuk-heading-l">Claims</h1>
                    <div class="user-search-box">
                      <label class="govuk-label govuk-label--s" for="searchText">Find a claim</label>
                      <div id="claimSearch-hint" class="govuk-hint">Search by claim number, visit type, SBI, claim date or status.</div>
                      <input type="hidden" name="crumb" value="{{ crumb }}"/>
                      <input class="govuk-input" id="searchText" name="searchText" type="text" value="{{ searchText }}" spellcheck="false">
                      <button class="search-button" data-module="govuk-button" name="submit" value="search">
                        Search
                      </button>
                    </div>
                  </div>
                  {% if error %}
                    <div class="govuk-grid-column-full">
                      <p class="govuk-error-message">{{ error }}</p>
                    </div>
                  {% endif %}
                    {{ govukTable({
                        attributes: {
                          'data-module': 'moj-sortable-table'
                        },
                        head: header,
                        rows: rows,
                        classes: 'fixed-layout-table'
                      })
                    }}
                </div>
                {{ govukPagination({
                    previous: previous,
                    next: next,
                    items: pages
                  })
                }}
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
{% endblock %}
