{% extends './layouts/layout.njk'%}
{%block pageTitle %}
    {{ siteTitle }} - claims
{%endblock%}
    {% block content %}
        <div class="govuk-grid-row">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-7"> 
                Claims
        </h1>
        </div>
        {%endblock%}