{% extends './layouts/layout.njk' %}

{% block pageTitle %}
  {{ siteTitle }}: Application Files
{% endblock %}
{% set backLink %}
 /applications?page={{page}}
{% endset -%}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/file-view">
        {{ govukCheckboxes({
          idPrefix: "files",
          name: "files",
          fieldset: {
            legend: {
              text: "Select File to download",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: files
        }) }}
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        {{ govukButton({
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
            text: "Submit"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
