
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}    
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/table/macro.njk" import govukTable -%}
{% import "./macros/pagination.njk" as pagination %}

{% block pageTitle %}
  {{ siteTitle }} - Organisation Applications
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to applications",
    href: "/applications",
	  attributes: {id: 'linkBack'}
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">  
      <h1 class="govuk-heading-l">Organisation Applications</h1>

  </div>
  <div class="govuk-grid-row">
    {{ govukTable({
      attributes: {
        'data-module': 'moj-sortable-table'
      },
      head: [
        {
          text: "Organisation",
          attributes: {
            "aria-sort": "ascending"
          }
        },
        {
          text: "SBI Number",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Applications",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "",
          attributes: {
            "aria-sort": "none"
          }
        }
      ],
      rows: applications
    }) }}
    {{ pagination.pager(page, totalPages, agreements.length, total, url) }}
  </div>

  </div>
</div>
</div>
  
{% endblock %}