{% extends './layouts/layout.njk' %}

{% block pageTitle %}Application {{ applicationId }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/applications"
      }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Application {{ applicationId }}
        <span class="govuk-tag govuk-tag--green">{{ status }}</span></h1>

      <h2 class="govuk-heading-m">{{ organisationName }}</h2>
      {{ govukSummaryList({
        rows: listData.rows
      }) }}

      {% set applicationHtml %}
      <h2 class="govuk-heading-l">{{ status }}</h2>
      {{ govukTable({
        head: [
          {
            text: "Date"
          },
          {
            text: "Data requested"
          },
          {
            text: "Data entered"
          }
        ],
        rows: [
          [
            {
              text: "12/08/2022"
            },
            {
              text: "Review type"
            },
            {
              text: "Sheep"
            }
          ],
          [
            {
              text: "12/08/2022"
            },
            {
              text: "Lifestock number"
            },
            {
              text: "At least 21"
            }
          ],
          [
            {
              text: "12/08/2022"
            },
            {
              text: "T&Cs agreed?"
            },
            {
              text: "Yes"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {% set vetReviewHtml %}
      <h2 class="govuk-heading-l">Not yet reviewed</h2>
      {{ govukTable({
        head: [
          {
            text: "Date"
          },
          {
            text: "Data requested"
          },
          {
            text: "Data entered"
          }
        ],
        rows: [
          [
            {
              text: "David Francis"
            },
            {
              text: "24"
            },
            {
              text: "18"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {% set claimHtml %}
      <h2 class="govuk-heading-l">Not yet able to claim</h2>
      {{ govukTable({
        head: [
          {
            text: "Date"
          },
          {
            text: "Data requested"
          },
          {
            text: "Data entered"
          }
        ],
        rows: [
          [
            {
              text: "David Francis"
            },
            {
              text: "98"
            },
            {
              text: "95"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {% set paymentHtml %}
      <h2 class="govuk-heading-l">Not yet paid</h2>
      {{ govukTable({
        head: [
          {
            text: "Date"
          },
          {
            text: "Data requested"
          },
          {
            text: "Data entered"
          }
        ],
        rows: [
          [
            {
              text: "David Francis"
            },
            {
              text: "1380"
            },
            {
              text: "1472"
            }
          ]
        ]
      }) }}
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Application",
            id: "application",
            panel: {
              html: applicationHtml
            }
          },
          {
            label: "Vet Review",
            id: "vet-review",
            panel: {
              html: vetReviewHtml
            }
          },
          {
            label: "Claim",
            id: "claim",
            panel: {
              html: claimHtml
            }
          },
          {
            label: "Payment",
            id: "payment",
            panel: {
              html: paymentHtml
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}