{% extends './layouts/layout.njk' %}
{% from "./macros/view-application-tabs.njk" import viewApplicationTabs %}
{% from "./macros/withdraw-confirmation-form.njk" import viewWithdrawConfirmationForm %}
{% from "./macros/claim-confirmation-form.njk" import viewClaimConfirmationForm %}
{% from "./macros/approve-claim-confirmation-form.njk" import viewApproveClaimConfirmationForm %}
{% from "./macros/reject-claim-confirmation-form.njk" import viewRejectClaimConfirmationForm %}
{% from "./macros/recommend-form.njk" import viewRecommendForm %}
{% from "./macros/recommend-confirmation-form.njk" import viewRecommendConfirmationForm %}
{% from "./macros/view-authorise-or-reject-form.njk" import viewAuthoriseOrRejectForm %}
{% from "./macros/view-authorise-payment-confirm-form.njk" import viewAuthorisePaymentConfirmForm %}
{% from "./macros/view-reject-claim-confirm-form.njk" import viewRejectClaimConfirmForm %}
{% from "./macros/move-claim-to-in-check-confirmation-form.njk" import viewMoveClaimToInCheckConfirmationForm %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {{ siteTitle }}: User Application
{% endblock %}
{% set backLink %}
 /applications?page={{page}}
{% endset -%}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-caption-l govuk-!-margin-bottom-3">Agreement number: {{ reference }}</h1>

      <h2 class="govuk-fieldset__legend--m">{{ organisationName }}
        <span class="govuk-tag {{ statusClass }}">{{ status }}</span></h2>
      {{ govukSummaryList({
        rows: model.listData.rows
      }) }}
      {% if withdrawConfirmationForm %}
        {{ viewWithdrawConfirmationForm('application', reference, page, crumb) }}
      {% endif %}
      {% if model.recommendData != false %}
        {{ viewRecommendConfirmationForm('application', reference, page, crumb, model.recommendData) }}
      {% endif %}
      {% if recommendToReject.display %}
        {{ viewRecommendToRejectConfirmationForm('application', reference, page, crumb, recommendToReject.errorMessage) }}
      {% endif %}
      {% if authorisePaymentConfirmForm.display %}
        {{ viewAuthorisePaymentConfirmForm('application', reference, page, crumb, authorisePaymentConfirmForm.errorMessage) }}
      {% endif %}
      {% if rejectClaimConfirmForm.display %}
        {{ viewRejectClaimConfirmForm('application', reference, page, crumb, rejectClaimConfirmForm.errorMessage) }}
      {% endif %}
      {% if onHoldConfirmationForm.display %}
        {{ viewMoveClaimToInCheckConfirmationForm('application', reference, page, crumb, onHoldConfirmationForm.errorMessage) }}
      {% endif %}

      {{ viewApplicationTabs(model, vetVisit, claimed, payment, subStatus, displayMoveToInCheckFromHold, reference, page) }}
      
      {% if withdrawLink %}
        <a class="govuk-link govuk-body" href="/view-application/{{ reference }}?page={{page}}&withdraw=true">Withdraw</a>
      {% endif %}
      {% if recommendForm %}
        {{ viewRecommendForm('application', reference, page, crumb) }}
      {% endif %}
      {% if authoriseOrRejectForm.display %}
        {{ viewAuthoriseOrRejectForm('application', reference, page, crumb, authoriseOrRejectForm.displayAuthorisePaymentButton) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
