{% extends './layouts/layout.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Administration: User Agreements
{% endblock %}
{% set backLink %}
 /agreements?page={{page}}
{% endset -%}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}
      <h1 class="govuk-caption-l govuk-!-margin-bottom-3">Agreement number: {{ reference }}</h1>
      <h2 class="govuk-heading-l govuk-!-margin-bottom-7">{{ organisationName }}
        <span class="app-long-tag"><span class="govuk-tag {{ statusClass }}">{{ statusLabel }}</span></span>
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="organisation-details">
        {% for item in organisationDetails %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ item.field }}</dt>
            <dd class="govuk-summary-list__value">
              <p>{{item.newValue}}</p>
              {% if (item.oldValue) and (item.oldValue != "NA") %}
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">View change</span>
                  </summary>
                  <div class="govuk-details__text">
                    {{ item.oldValue }}
                  </div>
                </details>
              {% endif %}
            </dd>
          </div>
        {% endfor %}
      </dl>
      {% if withdrawForm %}
        {% include "./includes/withdraw-form.njk" %}
      {% endif %}
      {% if moveToInCheckForm %}
        {%  include "./includes/move-to-in-check-form.njk" %}
      {% endif %}
      {% if recommendToPayForm %}
        {% include "./includes/recommend-to-pay-form.njk" %}
      {% endif %}
      {% if recommendToRejectForm %}
        {% include "./includes/recommend-to-reject-form.njk" %}
      {% endif %}
      {% if authoriseForm %}
        {% include "./includes/authorise-form.njk" %}
      {% endif %}
      {% if rejectForm %}
        {% include "./includes/reject-form.njk" %}
      {% endif %}
      {% if updateStatusForm %}
        {% include "./includes/update-status-form.njk" %}
      {% endif %}
      {% if updateVetsNameForm %}
        {% include "./includes/update-vets-name-form.njk" %}
      {% endif %}
      {% if updateVetRCVSNumberForm %}
        {% include "./includes/update-vet-rcvs-number-form.njk" %}
      {% endif %}
      {% if updateDateOfVisitForm %}
        {% include "./includes/update-date-of-visit-form.njk" %}
      {% endif %}
      {% if updateEligiblePiiRedactionForm %}
        {% include "./includes/eligible-pii-redaction-form.njk" %}
      {% endif %}

      {% include "./includes/application-tabs.njk" %}

      {% if withdrawAction %}
        {% include "./includes/withdraw-action.njk" %}
      {% endif %}
      {% if moveToInCheckAction %}
        {% include "./includes/move-to-in-check-action.njk" %}
      {% endif %}
      {% if recommendAction %}
        {% include "./includes/recommend-action.njk" %}
      {% endif %}
      {% if authoriseAction %}
        {% include "./includes/authorise-action.njk" %}
      {% endif %}
      {% if rejectAction %}
        {% include "./includes/reject-action.njk" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
