{% extends './layouts/layout.njk' %}
{% from "./macros/view-application-tabs.njk" import viewApplicationTabs %}
{% from "./macros/withdraw-confirmation-form.njk" import viewWithdrawConfirmationForm %}
{% from "./macros/claim-confirmation-form.njk" import viewClaimConfirmationForm %}
{% from "./macros/approve-claim-confirmation-form.njk" import viewApproveClaimConfirmationForm %}
{% from "./macros/reject-claim-confirmation-form.njk" import viewRejectClaimConfirmationForm %}
{% from "./macros/recommend-form.njk" import viewRecommendForm %}
{% from "./macros/view-authorise-payment-form.njk" import viewAuthorisePaymentForm %}

{% block pageTitle %}
  {{ siteTitle }}: User Application
{% endblock %}
{% set backLink %}
 /applications?page={{page}}
{% endset -%}
{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-caption-l govuk-!-margin-bottom-3">Agreement number: {{ applicationId }}</h1>

      <h2 class="govuk-fieldset__legend--m">{{ organisationName }}
        <span class="govuk-tag {{ statusClass }}">{{ status }}</span></h2>
      {{ govukSummaryList({
        rows: model.listData.rows
      }) }}
      {% if withdrawConfirmationForm %}
        {{ viewWithdrawConfirmationForm(applicationId, page, crumb) }}
      {% endif %}
      {% if approveClaimConfirmationForm %}
        {{ viewApproveClaimConfirmationForm(applicationId, page, crumb) }}
      {% endif %}
      {% if rejectClaimConfirmationForm %}
        {{ viewRejectClaimConfirmationForm(applicationId, page, crumb) }}
      {% endif %}
      {{ viewApplicationTabs(model, vetVisit, claimed, payment, status) }}
      {% if withdrawLink %}
        <a class="govuk-link govuk-body" href="/view-application/{{ applicationId }}?page={{page}}&withdraw=true">Withdraw</a>
      {% endif %}
      {% if claimConfirmationForm %}
        {{ viewClaimConfirmationForm(applicationId, page, crumb) }}
      {% endif %}
      {% if recommendForm %}
        {{ viewRecommendForm(applicationId, page, crumb) }}
      {% endif %}
      {% if authorisePaymentForm %}
        {{ viewAuthorisePaymentForm(applicationId, page, crumb) }}
      {% endif %}
    </div>
  </div>
{% endblock %}