{% from "moj/components/header/macro.njk" import mojHeader %}
{% macro ahwrHeader(user, endemicsEnabled) %}
    {% if user %}
        {{ mojHeader({
        organisationLabel: {
            text: 'GOV.UK',
            href: 'https://www.gov.uk/'
        },
        serviceLabel: {
            text: 'Get funding to improve animal health and welfare' if endemicsEnabled else 'Annual health and welfare review agreements',
            href: '/'
        },
        navigation: {
            label: 'Account navigation',
            items: [{
                text: user.name,
                href: '/account',
                active: true
            }, {
                text: 'Sign out',
                href: '/logout'
            }]
        }
}) }}
    {% else %}
        {{ mojHeader({
        organisationLabel: {
        text: 'GOV.UK',
        href: '/'
    },
    serviceLabel: {
        text: 'Get funding to improve animal health and welfare' if endemicsEnabled else 'Annual health and welfare review agreements',
        href: '/'
    },
    navigation: {
        label: 'Account navigation',
        items: [ {
            text: 'Sign In',
            href: '/login'
        }]
    }
}) }}
    {% endif %}
{% endmacro %}